:root {
  --spacing: 0.25rem;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-green-100: #FDFCFB;
  --color-green-200: #E9F1D7;
  --color-green-300: #AFCF7E;

  --color-pink-100: #FFC8C8;
  --color-pink-200: #D14D72;

  --color-brown-100: #BDAFA1;
  --color-brown-200: #5C4B3B;
  --color-brown-300: #3B271C;

  --color-gray-100: #F0F0F0;
  --color-gray-200: #F0F0F0;
  --color-gray-300: #E5E5E5;
  --color-gray-400: #CCCCCC;
  --color-gray-500: #B3B3B3;

  --color-black-100: #B3B3B3;

  --font-display: 'PretendardVariable', sans-serif;
  --font-body: 'PretendardVariable', sans-serif;

  --shadow-menu-bar: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}



@font-face {
  font-family: 'PretendardVariable';
  src: url('../assets/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 폰트 적용 */
body {
  font-family: 'PretendardVariable', Pretendard, sans-serif;
}
