/* 스크롤바 사라지게 하기 */

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
  width: 0px;
  height: 0px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
